.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0d1821;
    border-bottom: 0.5px solid #6c757d;
}
.nav-container button {
    border: none; /* Quita el borde */
    background-color: transparent; /* Fondo transparente */
    color: white; /* Color de texto blanco */
    font-weight: bold; /* Texto en negrita */
    padding: 10px 15px; /* Espaciado interno */
    cursor: pointer;
    border-radius: 10px; /* Agrega el radio de borde */
    outline: none; /* Quita el contorno de enfoque */
}
.nav-container button:hover {
    background-color: #add8e6; /* Cambia el color de fondo en hover a un tono de azul claro */
    text-decoration: none;
}
.barraNav{
    margin-right: 190px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.botones{
    display: flex inline-block;
}

